body {
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  min-height: 100vh;
}

.nav-link:hover {
  color: #7fd1ff !important;
}

.btn-outline-light:hover {
  background-color: #7fd1ff;
  border-color: #7fd1ff;
  color: #1f2a33;
}

.page-content {
  margin-top: 0; /* content goes behind navbar */
  min-height: 100vh; /* full height */
}


